{{ define "main" }}
<link rel="stylesheet" href="{{ "css/archives.css" | absURL }}">
<article class="article article-type-post" itemscope="" itemprop="blogPost">
    <div class="flex-center w-100" style="text-align: center;">
        <div class="post-archive">  
            {{ range (where (where .Site.Pages "Type" "in" site.Params.mainSections) "Kind" "page").GroupByDate "2006" }}
            <br>
            </br> 
            <h3> {{ .Key }} </h3>
            <ul class="listing">
                {{ range .Pages }}
                <li class="post-item">
                    {{ if .Site.Params.dateform }}
                    <span class="meta"><time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>{{ .Date.Format .Site.Params.dateform }}</time></span>
                    {{ else }}
                    <span class="meta"><time datetime='{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}'>{{ .Date.Format "Jan 20, 2006" }}</time></span>
                    {{ end }}
                    <a href="{{ .Permalink }}"><span>{{ .Title }}</span></a>
                </li>
                
                {{ end }}
            </ul>
            {{ end }}
        </div>
    </div>
</article>
{{ end }}


