<!--Math-->

<!--Footer-->
<footer class="page-footer text-center font-small mt-4 wow fadeIn">


  <!-- Social icons -->
  <div class="pb-2 mt-5 pt-5">
    {{ if $.Site.Params.github }}
      <a href="{{ $.Site.Params.github }} " target="_blank" rel="noopener"><i class="fab fa-github mr-3" aria-hidden="true"></i></a>    
    {{ end }}
    {{ if $.Site.Params.linkedin }}
      <a href="{{ $.Site.Params.linkedin }}" target="_blank" rel="noopener"><i class="fab fa-linkedin-in mr-3" aria-hidden="true"></i></a>
    {{ end }}

    {{ if $.Site.Params.facebook }}
      <a href="{{ $.Site.Params.facebook }}" target="_blank" rel="noopener"><i class="fab fa-facebook-f mr-3" aria-hidden="true"></i></a>
    {{ end }}

    {{ if $.Site.Params.googleplus }}
    <a href="{{ $.Site.Params.googleplus }}" target="_blank" rel="noopener"><i class="fab fa-google-plus-g mr-3" aria-hidden="true"></i></a>
    {{ end }}

    {{ if $.Site.Params.twitter }}
        <a href="{{ $.Site.Params.twitter }}" target="_blank" rel="noopener"><i class="fab fa-twitter mr-3" aria-hidden="true"></i></a>
    {{ end }}

    {{ if $.Site.Params.instagram }}
        <a href="{{ $.Site.Params.instagram }}" target="_blank" rel="noopener"><i class="fab fa-instagram mr-3" aria-hidden="true"></i></a>
    {{ end }}

    {{ if $.Site.Params.px500 }}
        <a href="{{ $.Site.Params.px500 }}" target="_blank" rel="noopener"><i class="fab fa-500px mr-3" aria-hidden="true"></i></a>
    {{ end }}


    {{ if $.Site.Params.email }}
        <a href="mailto:{{ $.Site.Params.email }}"><i class="far fa-envelope-open mr-3" aria-hidden="true"></i></a>
    {{ end }}

    {{ if and $.Site.Params.include_rss $.RSSLink }}
        <a href="{{ $.RSSLink }}"><i class="fas fa-rss mr-3" aria-hidden="true"></i></a>
    {{ end }}

    {{ if and $.Site.Params.i18n_flags $.IsTranslated }}
        {{ range .Translations }}
            <a href="{{ .Permalink }}"><img class="icon flag mr-3" src="{{ $.Site.BaseURL }}img/flags/{{ $.Lang }}.svg"></a>
        {{ end }}
    {{ end }}

  </div>
  <!-- Social icons -->
<!--网站已安全运行X天X小时X分X秒 start-->
<div class="copyright py-1">
  <span id="dhnblog"></span><span id="dhnblog" style="color: #ff0000;"></span>
  <script type="text/javascript">
  function NewDate(str) {
  str = str.split('-');
  var date = new Date();
  date.setUTCFullYear(str[0], str[1] - 1, str[2]);
  date.setUTCHours(0, 0, 0, 0);
  return date;
  }
  function momxc() {
  var birthDay =NewDate("2018-7-1");
  var today=new Date();
  var timeold=today.getTime()-birthDay.getTime();
  var sectimeold=timeold/1000
  var secondsold=Math.floor(sectimeold);
  var msPerDay=24*60*60*1000; var e_daysold=timeold/msPerDay;
  var daysold=Math.floor(e_daysold);
  var e_hrsold=(daysold-e_daysold)*-24;
  var hrsold=Math.floor(e_hrsold);
  var e_minsold=(hrsold-e_hrsold)*-60;
  var minsold=Math.floor((hrsold-e_hrsold)*-60); var seconds=Math.floor((minsold-e_minsold)*-60).toString();
  document.getElementById("dhnblog").innerHTML = "本站已安全运行"+daysold+"天"+hrsold+"小时"+minsold+"分"+seconds+"秒";
  setTimeout(momxc, 1000);
  }momxc();
  </script>  
  </div>
  <!--网站已安全运行X天X小时X分X秒 end-->

  <!-- Busuanzi -->

  <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
  <div class="copyright py-1">
      最近更新于 {{ .Site.LastChange.Format "January 2,2006" }}
      &nbsp;&nbsp;&nbsp;
     <span id="busuanzi_container_site_pv">
        本站访问量：<span id="busuanzi_value_site_pv">4931</span>次
    </span>
  </div>
  <!-- Busuanzi -->

  <!--Copyright-->
  <div class="copyright py-1">
    Copyright © 2018 Orianna 
  <span>  2016 - {{ now.Year }} &copy; | Theme <a href='https://github.com/orianna-zzo/AllinOne' target="_blank">myAllinOne</a> based on <a href='https://github.com/orianna-zzo' target="_blank">Orianna</a>  </span>
  </div>
  <!--/.Copyright-->

</footer>
<!--/.Footer-->
